/*  Basics - RESET */

*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
}

/*  PALETA DE COLORES */

:root {
  --primary-color: black ;
  --secondary-color: white;
  --third-color: purple;
  --fourth-color: grey;
}

/* HEADER */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
}

/* MAIN */


.full_viewport section {
  width: 100vw;
  height: 100vh;
}

.wrap_to_center section {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
}

/* PRUEBA */
#home-page {
  background-color: var(--third-color);
}

/* FOOTER */


/*  || FONT FAMILY */

/* CSS */
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

/* Specify in CSS */
* { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}