/*  Basics - RESET */

*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
}

/*  PALETA DE COLORES */

:root {
  --primary-color: black ;
  --secondary-color: white;
  --third-color: purple;
  --fourth-color: grey;
}

/* HEADER */

.navbar {
  height: 50px;
  width: 100%;
  background-color: #ff0000;

}

.navbar__container {

}

/* Logo */
#navbar__logo {
  font-size: 22px;
  color: #fff;
  padding: 10px
}

/* Menu */

.navbar__toggle {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
}

.navbar__toggle > label {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 13px;
}

.navbar__toggle > label > span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid #eee;
}

.navbar__menu {
position: absolute;
top: 50px;
left:-100%;
background-color: #999;
width: 100%;

}

.navbar__item{
  color: #e40000;
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0px;
  
}

.navbar__item > a {
  color: rgb(0, 0, 0);
  background-color: aqua;
}

.navbar__item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* MENU ANIMATION */

#nav__check:checked ~ .navbar__menu {
  left:0;
}

/* FLOAT BUTTON */
.navbar__item__float {
  position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.inner__float {
  margin-top:22px;
}

/* MAIN */


.full_viewport section {
  width: 100%;
  height: 100vh;
}

.wrap_to_center section {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
}

/* PRUEBA */

/* FOOTER */


/*  || FONT FAMILY */

/* CSS */
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

/* Specify in CSS */
* { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}